#reviews-list li {
    border-radius: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#reviews-list li>p:nth-child(1) {
    color: #ffa500;
}

#reviews-list li>p:nth-child(2) {
    text-align: right;
    color: #ccc
}

#reviews-list li>p:nth-child(3) {
    width: 100%;
    color: #f18200;
    margin: 9px 0;
}

#reviews-list li>p:nth-child(-n+2) {
    background-color: #000;
    flex: 1;
    padding: 9px 19px 9px;
    margin: 0 -20px;
}

/* Responsivness */

@media only screen and (max-width: 600px) {
    header nav {
        order: 0;
    }
    header #breadcrumb {
        order: 1;
        width: 100vw;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .inside #map-container {
        order: 2;
        top: 130px;
        position: relative;
        height: 300px;
        width: 100vw;
    }
    .inside #restaurant-container {
        order: 3;
        position: relative;
        width: 100vw;
        padding: 140px 5px 0 0;
        margin: auto;
        text-align: center;
    }
    .inside #reviews-container {
        width: 100vw;
        padding: 5px;
        margin: auto;
    }
    .inside header {
        order: 0;
        width: 100vw;
    }
    .inside #footer {
        order: 4;
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
    #reviews-list {
        width: 100vw;
    }
    #restaurant-cuisine {
        width: 100vw;
    }
}